aiohttp==3.7.4.post0
aiohttp-jinja2==1.2.0
aiosmtplib==1.1.6
apispec==4.6.0
appdirs==1.4.4
async-timeout==3.0.1
attrs==21.2.0
bump2version==1.0.1
CacheControl==0.12.6
certifi==2021.5.30
chardet==4.0.0
colorama==0.4.4
commonmark==0.9.1
contextlib2==0.6.0.post1
coverage==5.5
distlib==0.3.2
distro==1.5.0
greenlet==1.1.0
html5lib==1.1
idna==3.2
iniconfig==1.1.1
injectark==0.7.2
ipaddr==2.2.0
jedi==0.18.0
Jinja2==3.0.1
lockfile==0.12.2
MarkupSafe==2.0.1
marshmallow==3.12.1
modelark==0.6.6
more-itertools==8.8.0
msgpack==1.0.2
multidict==5.1.0
mypy==0.902
mypy-extensions==0.4.3
packaging==20.9
parso==0.8.2
passlib==1.7.4
pep517==0.10.0
pip-review==1.1.0
pluggy==0.13.1
pprintpp==0.4.0
progress==1.5
py==1.10.0
Pygments==2.9.0
PyJWT==2.4.0
pynvim==0.4.3
pyparsing==2.4.7
pytest==6.2.4
pytest-aiohttp==0.3.0
pytest-asyncio==0.15.1
pytest-clarity==1.0.1
pytest-cov==2.12.1
pytoml==0.1.21
requests==2.25.1
retrying==1.3.3
rich==10.4.0
schedulark==0.1.8
six==1.16.0
tenark==0.8.4
termcolor==1.1.0
toml==0.10.2
typed-ast==1.4.3
typing-extensions==3.10.0.0
urllib3==1.26.5
uvloop==0.15.2
validark==0.2.0
webencodings==0.5.1
widark==0.3.3
yarl==1.6.3
