aiohttp==3.7.3
aiohttp-jinja2==1.4.2
apispec==4.3.0
appdirs==1.4.4
async-timeout==3.0.1
attrs==20.3.0
bump2version==1.0.1
CacheControl==0.12.6
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
contextlib2==0.6.0.post1
coverage==5.4
distlib==0.3.1
distro==1.5.0
greenlet==1.0.0
html5lib==1.1
idna==3.1
iniconfig==1.1.1
injectark==0.6.0
ipaddr==2.2.0
jedi==0.18.0
Jinja2==2.11.3
lockfile==0.12.2
MarkupSafe==1.1.1
marshmallow==3.10.0
modelark==0.2.7
more-itertools==8.7.0
msgpack==1.0.2
multidict==5.1.0
mypy==0.812
mypy-extensions==0.4.3
packaging==20.9
parso==0.8.1
passlib==1.7.4
pep517==0.9.1
pip-review==1.1.0
pluggy==0.13.1
progress==1.5
py==1.10.0
PyJWT==2.0.1
pynvim==0.4.2
pyparsing==2.4.7
pytest==6.2.2
pytest-aiohttp==0.3.0
pytest-asyncio==0.14.0
pytest-clarity==0.3.0a0
pytest-cov==2.11.1
pytoml==0.1.21
requests==2.25.1
retrying==1.3.3
six==1.15.0
tenark==0.8.4
termcolor==1.1.0
toml==0.10.2
typed-ast==1.4.2
typing-extensions==3.7.4.3
urllib3==1.26.3
uvloop==0.15.2
webencodings==0.5.1
widark==0.3.3
yarl==1.6.3
