AUTHARK_TOKENS_SECRET=token
AUTHARK_MAIL_SENDER=
AUTHARK_MAIL_HOST=
AUTHARK_MAIL_PORT=
AUTHARK_MAIL_USERNAME=
AUTHARK_MAIL_PASSWORD=
AUTHARK_VERIFICATION_URL=
AUTHARK_TENANCY_JSON=
AUTHARK_SCHEDULER_JSON_FILE=
AUTHARK_GOOGLE_CLIENT_ID=
AUTHARK_GOOGLE_CLIENT_SECRET=
AUTHARK_FACEBOOK_CLIENT_ID=
AUTHARK_FACEBOOK_CLIENT_SECRET=
