{
  "tenants": {
    "": {
      "id": "",
      "created_at": ,
      "updated_at": ,
      "name": "",
      "email": "",
      "active": true,
      "slug": "",
      "attributes": {},
      "data": {
        "directory": "/opt/authark/data"
      }
    }
  }
}
